<style>
    #element-to-toggle {
        display: none;
    }

    p {
        padding: 0 !important;
        margin: 0 !important;
    }

    a {
        text-decoration: none !important;
    }

    .flags {
        width: 18px;
        height: 18px;
    }

    .flags-text{
        font-size:12px !important;
        color:#000;
    }
    .nav-bar-item-flag{

    }
    .nav-bar-item-flag:hover{
        background-color: #f8f9fa !important;
        padding: 0 3px 3px 3px;
        border: solid 1px #b0b0b0;
        border-radius:5px;
    }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" id=xnavbar>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "home", root_path, class: "nav-link active" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Area 1", areas_path, class: "dropdown-item" %></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= link_to "Brand 2", brands_path, class: "dropdown-item" %></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= link_to t('global.menu.home'), brands_path, class: "dropdown-item" %></li>
            <li><%= link_to t('global.menu.feedback'), brands_path, class: "dropdown-item" %></li>


          </ul>
        </li>


      </ul>
      <form class="d-flex" role="search" style="margin-right:200px;display:none !important;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div style="display: block">

        <li class="nav-item dropdown" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "#{I18n.locale}.svg", class: "flags" %>
          </a>



          <ul class="dropdown-menu" style="background-color: transparent;border:none;width:100px; ">

            <li>
              <%= link_to(options = {locale: :en}, class: "nav-bar-item-flag") do %>
                <%= image_tag "en.svg", class: "flags" %> <span class="flags-text">eng</span>
              <% end %>
            </li>

            <li>
              <%= link_to(options = {locale: :it}, class: "nav-bar-item-flag") do %>
                <%= image_tag "it.svg", class: "flags" %>  <span class="flags-text">ita</span>
              <% end %>
            </li>

            <li>
              <%= link_to(options = {locale: :es}, class: "nav-bar-item-flag") do %>
                <%= image_tag "es.svg", class: "flags" %>  <span class="flags-text">esp</span>
              <% end %>
            </li>

            <li>
              <%= link_to(options = {locale: :ja}, class: "nav-bar-item-flag") do %>
                <%= image_tag "ja.svg", class: "flags" %>  <span class="flags-text">jap</span>
              <% end %>
            </li>

            <li>
              <%= link_to(options = {locale: :de}, class: "nav-bar-item-flag") do %>
                <%= image_tag "de.svg", class: "flags" %>  <span class="flags-text">deu</span>
              <% end %>
            </li>




          </ul>
        </li>
      </div>

      &nbsp; &nbsp;

      <div style="display: none">

        <%= link_to(options = { controller: controller_name, action: action_name, locale: :en }, class: "navbar-item") do %>
          <%= image_tag "en.svg", class: "flags" %>
        <% end %>

        <%= link_to(options = { controller: controller_name, action: action_name, locale: :it }, class: "navbar-item") do %>
          <%= image_tag "it.svg", class: "flags" %>
        <% end %>

        <%= link_to(options = { controller: controller_name, action: action_name, locale: :es }, class: "navbar-item") do %>
          <%= image_tag "es.svg", class: "flags" %>
        <% end %>

        <%= link_to(options = { controller: controller_name, action: action_name, locale: :ja }, class: "navbar-item") do %>
          <%= image_tag "ja.svg", class: "flags" %>
        <% end %>

        <%= link_to(options = { controller: controller_name, action: action_name, locale: :de }, class: "navbar-item") do %>
          <%= image_tag "de.svg", class: "flags" %>
        <% end %>


      </div>

      <%= render "/layouts/management" %>


    </div>
  </div>
</nav>